/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "";
  src: url("") format("woff2"), url("") format("woff");
}
:root {
  /* Mode 1 */
  /* colors */
  --color-morado-50: #faf5ff;
  --color-morado-100: #e9d5ff;
  --color-morado-200: #c084fc;
  --color-morado-300: #9333ea;
  --color-morado-400: #6b21a8;
  --colores-basico-color-blanco: #ffffff;
  --colores-basico-color-blanco-2: #f3f3f3;
  --colores-basico-color-gris: #565656;
  --colores-basico-color-gris-2: #979797;
  --colores-basico-color-negro: #000000;
  --colores-basico-color-negro-2: #242424;
  /* numbers */
  --size-grid-grid-gap: 1rem;
  --size-grid-grid-padding-vertical: 1rem;
  --size-grid-grid-padding-horizontal: 12rem;
  --size-grid-grid-width: 120rem;
  --size-scale-scale-1: 0.25rem;
  --size-scale-scale-2: 0.5rem;
  --size-scale-scale-3: 0.75rem;
  --size-scale-scale-4: 1rem;
  --size-scale-scale-5: 1.25rem;
  --size-scale-scale-6: 1.5rem;
  --size-scale-scale-7: 1.75rem;
  --size-scale-scale-8: 2rem;
  --size-scale-scale-9: 2.25rem;
  --size-scale-scale-10: 2.5rem;
  --size-scale-scale-11: 2.75rem;
  --size-scale-scale-12: 3rem;
}