/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "";
  src: url("") format("woff2"), url("") format("woff");
}
:root {
  /* Mode 1 */
  /* colors */
  --color-morado-50: #faf5ff;
  --color-morado-100: #e9d5ff;
  --color-morado-200: #c084fc;
  --color-morado-300: #9333ea;
  --color-morado-400: #6b21a8;
  --colores-basico-color-blanco: #ffffff;
  --colores-basico-color-blanco-2: #f3f3f3;
  --colores-basico-color-gris: #565656;
  --colores-basico-color-gris-2: #979797;
  --colores-basico-color-negro: #000000;
  --colores-basico-color-negro-2: #242424;
  /* numbers */
  --size-grid-grid-gap: 1rem;
  --size-grid-grid-padding-vertical: 1rem;
  --size-grid-grid-padding-horizontal: 12rem;
  --size-grid-grid-width: 120rem;
  --size-scale-scale-1: 0.25rem;
  --size-scale-scale-2: 0.5rem;
  --size-scale-scale-3: 0.75rem;
  --size-scale-scale-4: 1rem;
  --size-scale-scale-5: 1.25rem;
  --size-scale-scale-6: 1.5rem;
  --size-scale-scale-7: 1.75rem;
  --size-scale-scale-8: 2rem;
  --size-scale-scale-9: 2.25rem;
  --size-scale-scale-10: 2.5rem;
  --size-scale-scale-11: 2.75rem;
  --size-scale-scale-12: 3rem;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
}
.cabecera{
  display: flex;
  justify-content: center;
  background-color: var(--color-morado-100);
  color: var(--color-morado-300);
}
.cabecera_img1{
  display: flex;
  width: var(--size-scale-scale-5);
  height: var(--size-scale-scale-5);
  align-self: center;
  padding-right: var(--size-scale-scale-4);
}
.cabecera_img2{
  display: flex;
  width: var(--size-scale-scale-5);
  height: var(--size-scale-scale-5);
  align-self: center;
  padding-left: var(--size-scale-scale-4);
}
.cuerpo{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 0.5fr);
  gap: var(--size-grid-grid-gap);
  padding-left: var(--size-grid-grid-padding-horizontal);
  padding-right: var(--size-grid-grid-padding-horizontal);
  background-color: var(--color-morado-50);
}
.que_es {
  grid-column: 3 / 10;
  grid-row: 1 ;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: var(--size-scale-scale-5);
  align-items: center;
}
.que_es_img {
  width: 20vw;
}
.que_es_texto{
  padding: var(--size-scale-scale-6);
}
.info {
  grid-column: 3 / 10;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: var(--color-morado-300);
  border-radius: var(--size-scale-scale-5);
}
.info_titulo{
  grid-row: 1;
  grid-column: 1 / 3;
  color: var(--color-morado-100);
}
.info section{
  padding-left: var(--size-scale-scale-1);
}
.info h4{
  color: var(--color-morado-100);
}
.info section h3 {
  color: var(--color-morado-100);
}
.cuenta{
  grid-row: 3;
  grid-column: 3 / 6;
  align-items: center;
  text-align: center;
  background-color: var(--color-morado-300);
  border-radius: var(--size-scale-scale-5);
}
.cuenta_titulo{
  color: var(--color-morado-50);
}
.contador{
  color: var(--color-morado-50);
}
.frase{
  color: var(--color-morado-100);
}